<section id="myOrders">
  <div class="container p-5">
    <app-message></app-message>
    <div *ngIf="!orders" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <h3 *ngIf="orders && !orders.length" class="display-2 text-center mt-5">My Orders is Empty</h3>
    <div *ngIf="orders && orders.length" class="row">
      <div class="col">
        <h4 class="display-4">My Orders</h4>
        <hr class="mt-0">
        <div *ngFor="let order of orders" class="product">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-11 col-md-10">
                  <a routerLink="/profile/orders/{{ order._id }}">Order #{{ order._id }}</a>
                  <div>Total: {{ order.totalPrice / 100 | currency:"&#8377;" }}</div>
                </div>
                <div class="col-1 col-md-2">
                  <span class="badge badge-pill badge-primary float-right">{{ status }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
